# """ Environment variables for the project. This file contains sensitive configuration values such as the Telegram bot token, target chat ID, service URLs, and other runtime settings."""

BOT_TOKEN = "123456:abcdefghijklmnopqrstuvwxyz" # Enter your BotToken from botfather

CHANNEL_ID = "" # Enter channel_ID(@example) or chat_id(example: -123456789) and add bot to channel admins

CHECK_INTERVAL = "" # Enter cycle period in second default=60

URL = "https://example.com" # Enter site URL that you want send request

GOLD_KEYBOARD_TEXT = "" # This item showed on the message inline_keyboard

GOLD_KEYBOARD_URL = "" # Inline_keyboard will open this link
